<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> header }}
      <div class="container features">
        <h1>{{tittle}}</h1>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th  scope="col">Incidencia</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Mensaje</th>
                </tr>
            </thead>
            <tbody>
              {{#each incidencias}}
              <tr>
                <th data-label="Incidencia">{{incidencia}}</th>
                <td data-label="Mail">{{mail}}</td>
                <td data-label="Mensaje">{{mensaje}}</td>
              </tr>
              {{/each}}
            </tbody>
            </table>
     </div>
    {{> footer }}
  </body>
</html>